/* Import Admin Page CSS */
.wp-list-table .column-cb { width: 3%; }
.wp-list-table .column-prod_image { width: 5%; text-align: center; overflow: hidden; }
.wp-list-table .column-prod_name { width: 25%; }
.wp-list-table .column-prod_price { width: 9%; }
.wp-list-table .column-prod_sku { width: 10%; }
.wp-list-table .column-prod_inventory { width: 9%; }
.wp-list-table .column-prod_category { width: 10%; }
.wp-list-table .column-prod_last_import { width: 12%; }
.wp-list-table .column-prod_last_sync { width: 12%; }
.wp-list-table .column-prod_is_synced { width: 5%; }
.wp-list-table .column-prod_last_sync .tips,
.wp-list-table .column-prod_last_import .tips{
	cursor: help;
}
.wc-ls-import-results .wp-list-table img{
	max-width: 50px;
}
table.wp-list-table span.wclsi-sync{
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	margin-right: 5px;
	cursor: help !important;
}
table.wp-list-table span.wclsi-sync::before{
	font-family: dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	font-size: 20px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f515";
}
.wclsi-spinner{
	display: inline-block;
	float: none;
	position: relative;
	top: 3px;
	margin: 0;
	padding-left: 25px;
	width: inherit;
	visibility: visible !important;
}
.wclsi-load-prod-tip{
	float: left;
}
#wc-import-all-prods{
	float: left;
}
#wclsi-load-progress{
	display: none;
}
#wc-ls-import-results{
	padding-top: 20px;
	clear: both;
}
.matrix-img {
	border: 1px solid silver;
	margin: 2em 2em 0 2em;
	box-shadow: .2em .2em #e9e9e9,
				.4em .4em #cecece;
}
.wclsi-connect-ls{
	background-image: url('../img/ls-icon50x50.png');
	background-repeat: no-repeat;
	background-position: left-center;
	background-color: white;
	padding: 15px 10px 15px 60px;
	border: 1px solid silver;
	border-radius: 3px;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
#wc-ls-import-results .tablenav.bottom .bulkactions{
	display: none;
}
#wc-ls-load-prods{
	float: left;
}
#wclsi_select_all_prod_sync_properties, #wclsi_select_all_ls_prod_sync_properties{
    cursor: pointer;
    text-decoration:underline;
}
